body {
  background-image: url("../images/pjsign.jpg");
}

.container {
  height: auto;
  width: 100%;
}

.jumbotron {
  opacity: 0.8;
}

.panel {
  opacity: 0.8;
}

.panel > .panel-heading {
    background-color: black;
    color: white;
}

#addTrainBtn {
    background-color: black;
    color: white;
    border: none;
}